body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: #ffffff;
  border: 2px solid #e5d9f2;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h1 {
  margin: 0;
}

input {
  border: 2px solid #cdc1ff;
  border-radius: 5px;
}

button {
  background-color: #e5d9f2;
  border: 2px solid #cdc1ff;
  border-radius: 8px;
  padding: 7px 0px;
  font-size: 15px;

  transition: 
    background-color .15s ease-in-out,
    color .15s ease-in-out;
}

button:hover {
  background-color: #cdc1ff;
}

button:active {
  background-color: #a294f9;
  color: #ffffff;
}