header {
    border-bottom: black 2px solid;
    padding-bottom: 5px;
}

header button {
    border: 2px solid #cdc1ff;
    border-radius: 5px;
    background-color: #e5d9f2;
    transition: 
        background-color .3s ease-in-out,
        color .3s ease-in-out;
}

header button:hover {
    background-color: #cdc1ff;
}

header button:active {
    background-color: #a294f9;
    color: #ffffff;
}

#room-creation-form {
  background-color: #ffffff;
  border: 2px solid #e5d9f2;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  border: 2px solid #cdc1ff;
  border-radius: 5px;
}

button {
  background-color: #e5d9f2;
  border: 2px solid #cdc1ff;
  border-radius: 8px;
  padding: 7px 0px;
  font-size: 15px;

  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

button:hover {
  background-color: #cdc1ff;
}

button:active {
  background-color: #a294f9;
  color: #ffffff;
}
